.header__row{
    margin: 0px auto;
    padding: 0p auto;
}


.jumbotron{
    padding: 70px 30px;
    margin: 0px auto;
    background:#9575cd !important;
    color:floralwhite;
    
}

.navbar-dark{
    background-color: #512da8;
}